#pageController {
    height: 95%;
}
#console {
    border: 2px #333 solid;
    background: #fff;
    
    padding: 8px;
    margin-bottom: 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

#console p {
    border: none;
    box-shadow: none;
    margin: 0;
}