header {
    padding: 5px 20px;
    background: #acb3b9;
    height: 5em;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
}

header h1 {
    font-size: 2em;
}