#sommaire {
    /*width: 20em;*/
    /*min-width: 170px;*/
    
    /*height: 12em;*/
    padding: 0 20px;
    background: #d4d7dc;
    box-shadow: 2.5px 5px #acb3b9;
    margin-bottom: 10px;
    justify-content: space-around;
}    
#sommaire ul {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style: none;
    line-height: 26px;
}
#sommaire h3 {
    margin-bottom: 0px;
}

.menu_link {
    padding-left: 0;
    padding-right: 32.799px;/*22+10.799px à cause du gras*/
    cursor: pointer;
    font-size: 1.4em;
}
.menu_link:hover {
    color : rgb(95,158,160);
    padding-left: 8px;
    padding-right: 24.799px;/*14+10.799px à cause du gras*/
}
.menu_link[open="true"] {
    font-weight: bold;
    color: rgb(95,158,160);
    padding-left:22px;
    padding-right: 0;
}