@import "nav.css";
@import "console.css";

#wrapper {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(100% - 5em); /*doit etre de la taille de ce qui reste de la page (100% - header)*/
 }

#sidebar {
    /* sidebar's style */
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 89.9px;
    height: min-content;
    max-height: 100%;
}

#page {
    width: 70%;
}
.pageContent{
    border: 1px #d4d7dc solid;
    box-shadow: 2.5px 5px #acb3b9;
    background: #d4d7dc;
    
    padding: 8px;
    margin-bottom: 8px;
}
.pageContent[open="false"] {
    display:none;
}
h2{
    color: rgb(95,158,160);
    font-weight: bolder;
    font-size: 1.8em;
    
    padding: 0px;
    margin: 0px;
}

section {
    padding: 18px;
    min-height: 170px;
    box-sizing: border-box;
    width: 90%;
    margin-left: 4.5%;
}
h3 {
    font-size: 1.4em;
    margin-bottom: 8px;
}
section p {
    border: 1px grey solid;
    box-shadow: 2.5px 3.5px grey;
    font-size: 1.3em;
    
    padding: 8px;
}